:root {
  --blackIce: #292927;
}

.container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.title {
  width: 100%;
  color: #000;
  text-align: center;
}

.text {
  width: 100%;
  max-width: 100%;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 50px;
  color: #858585;
}

.container_card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s ease;
  background-color: #fff;
}

.card:hover {
  background-color: #8f8f8f;
}

.card:hover > .image {
  transform: scale(1.2);
  filter: drop-shadow(0px 0px 0px rgba(65, 65, 65, 0.6));
}

.image {
  width: 450px;
  transform: rotateZ(18deg);
  transition: all 0.5s ease;
  filter: drop-shadow(5px 5px 5px rgba(65, 65, 65, 0.6));
}

.logo {
  bottom: 0;
  width: 150px;
  position: absolute;
}

.number {
  top: 20px;
  left: 20px;
  position: absolute;
  font-size: 1.8rem;
  font-weight: 500;
}

.name {
  top: 50px;
  left: 20px;
  position: absolute;
  font-size: 1.5rem;
  font-weight: 500;
}

.desc {
  color: #fff;
  font-size: 1.3rem;
  transition: all 0.2s ease;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
}

.black_ice {
  background-color: #292927 !important;
}
