.container {
  width: 100%;
  display: flex;
  position: relative;
  background: #000;
  flex-direction: column;
  min-height: calc(100vh);
  align-items: center;
  justify-content: center;
}

.container_image {
  animation: containerImage;
  animation-duration: 2s;
}

@keyframes containerImage {
  to {
    transform: translateY(0px);
  }
  from {
    transform: translateY(2000px);
  }
}

.image {
  width: auto;
  margin: auto;
  height: 300px;
  transition: all 0.2s ease;
  animation: image;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  animation-duration: 1s;
  z-index: 50;
}

@keyframes image {
  to {
    transform: rotateZ(-5deg);
    filter: drop-shadow(-3px 5px 0px rgba(167, 167, 167, 0.6));
  }
  from {
    transform: rotateZ(0deg);
    filter: drop-shadow(0px 0px 0px rgba(167, 167, 167, 0.6));
  }
}

.vape01 {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: vape01;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
  animation-duration: 2s;
  opacity: 0;
  z-index: 0;
}

@keyframes vape01 {
  to {
    right: 200px;
    opacity: 1;
    transform: rotateZ(-10deg);
  }
  from {
    right: 0px;
    opacity: 0;
    transform: rotateZ(0deg);
  }
}

.vape02 {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: vape02;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
  animation-duration: 2s;
  opacity: 0;
  z-index: 0;
}

@keyframes vape02 {
  to {
    left: 200px;
    opacity: 1;
    transform: rotateZ(10deg);
  }
  from {
    left: 0px;
    opacity: 0;
    transform: rotateZ(0deg);
  }
}

.vape03 {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: vape03;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
  animation-duration: 2s;
  opacity: 0;
  z-index: 0;
}

@keyframes vape03 {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

.desc {
  left: 0;
  right: 0;
  width: 100%;
  bottom: 10px;
  position: absolute;
  max-width: 400px;
  text-align: center;
  animation: desc;
  animation-duration: 2.5s;
  margin: auto;
}

@keyframes desc {
  to {
    bottom: 10px;
  }
  from {
    bottom: -2000px;
  }
}

.btn {
  background-color: #fff;
  padding: 15px 0px;
  width: 100%;
  max-width: 150px;
  border-radius: 50px;
  font-size: 1.2rem;
  font-family: "BolsterRegular";
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 100;
}

.btn::after {
  top: 0;
  left: 103%;
  width: 0px;
  height: 1px;
  bottom: 0;
  margin: auto 0;
  position: absolute;
  background-color: #fff;
  transition: all 0.2s ease;
  animation-name: btnAfter;
  animation-duration: 2s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  content: "";
}

@keyframes btnAfter {
  to {
    width: 100px;
  }
  from {
    width: 0px;
  }
}

.btn:hover::after {
  width: 0px;
}

.btn::before {
  top: 0;
  right: 103%;
  width: 0px;
  height: 1px;
  bottom: 0;
  margin: auto 0;
  position: absolute;
  background-color: #fff;
  transition: all 0.2s ease;
  animation-name: btnBefore;
  animation-duration: 2s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  content: "";
}

@keyframes btnBefore {
  to {
    width: 100px;
  }
  from {
    width: 0px;
  }
}

.btn:hover::before {
  width: 0px;
}

@media (max-width: 1000px) {
  .image {
    width: 100%;
    height: auto;
    max-width: 500px;
  }
}
