.container {
  display: block;
  position: relative;
  min-height: 100vh;
  border-bottom: 1px solid #ddd;
  background-size: cover;
  background-color: #fff;
  z-index: 10;
}

.image {
  height: 40vh;
  padding: 2rem;
  max-height: 100%;
}

.logo {
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  max-width: 150px;
  width: 100%;
}

.parallax {
  z-index: 100 !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.title {
  color: #000;
  font-size: 3rem;
  text-align: left;
  font-weight: 500;
}

.subtitle {
  font-size: 3rem;
  text-align: left;
}

.desc {
  width: 50%;
  color: #000;
  padding: 0 5px;
  max-width: 100%;
  font-size: 3rem;
  font-weight: 500;
  /* text-align: right; */
  /* margin-left: auto; */
}

.conatiner_items {
  display: flex;
  align-items: center;
  gap: 50px;
}

.item:first-child {
  flex: 1;
  width: 300px;
  border-radius: 19% 81% 17% 83% / 38% 36% 64% 62%;
  background-color: #ddd;
}

@media (max-width: 428px) {
  .title {
    font-size: 2.5rem;
  }
  .desc {
    font-size: 1rem;
  }
}

@media (max-width: 430px) {
  .title {
    font-size: 2.5rem;
  }
  .desc {
    font-size: 1rem;
  }
}

@media (max-width: 390px) {
  .title {
    font-size: 2.5rem;
  }
  .desc {
    font-size: 1rem;
  }
}

@media screen and (max-width: 360px) {
  .image {
    width: auto;
    /* height: 300px; */
    max-height: 100%;
  }
}
