.container_nav {
  width: 100%;
  display: flex;
  padding: 0 20px;
  position: fixed;
  transition: all 0.2s ease;
  align-items: center;
  justify-content: space-between;
  animation-name: containerNav;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  z-index: 100;
}

@keyframes containerNav {
  to {
    height: 80px;
  }
  from {
    height: 0px;
  }
}

.container_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 70px;
  padding: 0 7px;
  animation-name: logo;
  animation-duration: 2s;
}

@keyframes logo {
  to {
    transform: translateY(0px);
  }
  from {
    transform: translateY(-2000px);
  }
}

.nav_lists {
  width: 0%; /* opcional */
  overflow: auto; /* opcional */
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  animation-name: nav_lists;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  overflow: hidden !important;
  column-gap: 20px;
}

@keyframes nav_lists {
  to {
    width: 780px;
    overflow: auto;
  }
  from {
    width: 0px;
    overflow: auto;
  }
}

.nav_list {
  color: #fff;
  cursor: pointer;
  position: relative;
  font-size: 1rem;
  transition: all 0.2s ease;
  border-bottom: 1px solid transparent;
  font-weight: 400;
}

.nav_list:hover {
  color: #fff;
}

.nav_option {
  cursor: pointer;
  display: none;
  z-index: 100;
  color: #fff;
}

.authentication {
  padding: 10px 12px;
  font-size: 1rem;
  font-weight: 400;
  font-family: "BolsterRegular";
  border-radius: 50px;
  letter-spacing: 1px;
  animation-name: contact;
  background-color: #fff;
  animation-duration: 3.5s;
  transition: all 0.2s ease;
}

.authentication:hover {
  background-color: #fff;
}

.options {
  display: flex;
  column-gap: 10px;
  align-items: center;
  animation-name: contact;
  position: relative;
  animation-duration: 3.5s;
  transition: all 0.2s ease;
}

.menu {
  color: #fff;
  cursor: pointer;
  font-size: 2.3rem;
}

@keyframes contact {
  to {
    transform: translateY(0px);
  }
  from {
    transform: translateY(-2000px);
  }
}

@media (max-width: 1000px) {
  .container_nav {
    background: none !important;
  }
  .logo {
    opacity: 0;
  }
  .options {
    display: none;
  }
  .nav_option {
    z-index: 100;
    display: block;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
  }
  .nav_list {
    color: #000;
    font-size: 1.4rem;
  }
  .nav_lists {
    top: -200%;
    left: 0;
    right: 0;
    position: fixed;
    transition: all 0.5s ease;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    z-index: 50;
    height: 100vh;
    width: 100% !important;
    color: #000;
    gap: 50px;
  }
  .menu {
    color: #000;
  }
}
