.container {
  display: flex;
  padding: 0 20px;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  min-height: 30vh;
}

.title {
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 10px;
}

.lists {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #2e2e2e;
  flex-direction: column;
  padding-bottom: 20px;
  margin: 20px 0;
}

.lists > li {
  color: #fff;
  list-style: inside !important;
}

.social_newtork {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 18px;
  justify-content: center;
  border-bottom: 1px solid #2e2e2e;
  gap: 10px;
}

.social_newtork > li {
  cursor: pointer;
  font-size: 1.4rem;
}

p {
  color: #fff;
  text-align: center;
}

.copy {
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  padding-top: 20px;
}
