.container {
  display: flex;
  position: relative;
  min-height: 100vh;
  padding-top: 80px;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.subtitle {
  padding: 0 2px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
}

.desc {
  width: 100%;
  color: #808080;
  max-width: 800px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
}

.form {
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  gap: 20px;
}

.image {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  max-width: 140px;
  width: 100%;
  margin: auto;
}

.vape01,
.vape02,
.vape03 {
  width: 100%;
  display: flex;
  max-width: 130px;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  justify-content: center;
  /* animation-name: vape; */
  animation-duration: 3s;
  animation-iteration-count: infinite;
  margin: auto;
}

.vape01 {
  left: 200px;
}
.vape02 {
  right: 200px;
}

@keyframes vape {
  0% {
    transform: translateY(0px) rotateZ(10deg);
  }
  50% {
    transform: translateY(100px) rotateZ(10deg);
  }
  100% {
    transform: translateY(0px) rotateZ(10deg);
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
}

.item {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 80px);
}

.item:last-child {
  background-color: #000;
}

@media (max-width: 800px) {
  .form {
    padding: 0 10px;
  }
  .title {
    font-size: 2.5rem;
  }
}

@media (max-width: 428px) {
  .title {
    font-size: 1.7rem;
  }
  .subtitle {
    font-size: 1.2rem;
  }
  .desc {
    font-size: 0.8rem;
  }
}
